<div class="container-fluid">
  <h1>Stupid Coaching!</h1>
  <form action="/answer" data-turbo="false">
    <label for="ask">Ask your coach anything...</label>
    <input type="text" name="user_question">
    <input type="submit" value="Ask!">
  </form>
</div>
